/* Navbar*/
.navbar-nav a{
    font-size: 20px;
    color: black;
}
.Home {
    background-color: blue;
}
.App-pic {
    height: 8vmin; 
    pointer-events: none;
   
  
  }


/*Cards */
.card{
    transition: all 0.5s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);;
}
